body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f6f9;
}

.content-wrapper {
    flex: 1;
    padding: 50px 15px;
}

.brand-logo svg {
    width: 35px;
    height: 35px;
    margin-right: 12px;
}